@import url('https://cdn.jsdelivr.net/gh/BeviProjects/BeviCSS@v1.0.9/dist/compressed/bevi.css');
@import url('https://cdn.jsdelivr.net/gh/BeviProjects/BeviIconFont@v1.1.0/dist/compressed/main.css');

:root {
	--header-height: 3.75rem;
	--footer-height: 3.75rem;
}

main {
	min-height: calc(
		100vh - (var(--header-height) + var(--footer-height))
	);
	// padding: {
	// 	top: 4rem;
	// 	bottom: 2rem;
	// }
}
